


    <div id="content_body_hc" class="content_body_hc">
        <aside id="asidenav">

            <div class="list_nav_box">
                <ul class="listnav">

                    <li>
                        <a href="" class="activepage" rel="active" data-show="dashboardlist">
                            <i class="fa-solid fa-gauge"></i>
                            My Dashboard
                        </a>
                    </li>

                    <li>
                          <%= link_to manage_users_admin_index_path, class: "nav-link" do %>
                            <i class="fa fa-plus"></i>
                            Users
                          <% end %>
                        </li>

                        <li>
                          <%= link_to categories_path, class: "nav-link" do %>
                            <i class="fa fa-users"></i>
                            Categories
                          <% end %>
                          <ul class="submenus" id="tablerow">

                            <li>
                                <a href="">
                                    <i class="fa fa-square"></i>
                                    What makes us different
                                </a>
                            </li>
                            </ul>
                        </li>

                        <li>
                          <%= link_to products_path, class: "nav-link" do %>
                            <i class="fa fa-image"></i>
                            Product
                          <% end %>
                          </li>
                          <li>
                          <%= link_to coupons_path, class: "nav-link" do %>
                            <i class="fa fa-plus"></i>
                            Coupens
                          <% end %>
                        </li>
                    <li>

                        <a href="javascript:;" data-show="memberreport">
                            <i class="fa fa-files-o"></i>
                            View Sales 
                            <i class="downarrow fa-solid fa-chevron-down"></i>
                        </a>

                        <ul class="submenus" id="memberreport">

                            <li>
                                <a href="">
                                    <i class="fa fa-square"></i>
                                  Total sales
                                </a>
                            </li>

                            <li>
                                <a href="">
                                    <i class="fa fa-square"></i>
                                    Sales report
                                </a>
                            </li>
                        </ul>
                    </li>


                    <li>
                        <a href="#">
                            <i class="fa fa-envelope-o"></i>
                           Send Email
                        </a>
                    </li>

                  
                </ul>
            </div>
        </aside>


        <div class="content_body" id="content_body">
            <div class="wrapper_content_body">
                <div class="dashboard_statistic">
                    </div>
                </div>
                           <%= yield %>
            </div>
        </div>
    </div>

