<!-- app/views/admin/manage_users.html.erb -->

<h1>User Management</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.blocked? ? 'Blocked' : 'Active' %></td>
        <td>
          <% if user.blocked? %>
            <%= link_to 'Unblock', unblock_user_admin_path(user), method: :patch %>
          <% else %>
            <%= link_to 'Block', block_user_admin_path(user), method: :patch %>
          <% end %>
        </td>
         <td>
          <%= link_to 'View', show_user_admin_path(user) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
