<section class="shop-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shop__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                             <% @cart_item.cart_items.each do |cart_item| %>
                                <tr>
                                  <td class="cart__product__item">
                                    <%= image_tag(cart_item.product.image.url, alt: cart_item.product.name, class: "cart-image", style: 'width:75px;height:75px;' ) %>
                                    <div class="cart__product__item__title">
                                      <h6><%= cart_item.product.name %></h6>
                                      <div class="rating">
                                        <!-- Your rating logic here -->
                                      </div>
                                    </div>
                                  </td>
                                  <td class="cart__price">$ <%= cart_item.product.price %></td>
                                  <td class="cart__quantity">
                                    <div class="pro-qty">
                                      <input type="text" value="<%= cart_item.quantity %>">
                                    </div>
                                    </td>
                                    <td class="cart__total">$ <%= (cart_item.product.price.to_f * cart_item.quantity.to_i).round(2) %>
                                    </td>
                                    <td class="cart__close">
                                    <span class="icon_close" data-cart-item-id="<%= cart_item.id %>"></span>
                                    </td>                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn">
                        <a href="#">Continue Shopping</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn update__btn">
                        <a href="#"><span class="icon_loading"></span> Update cart</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="discount__content">
                        <h6>Discount codes</h6>
                        <form id="coupon-form">
                            <input type="text"  id="coupon-code" placeholder="Enter your coupon code">
                            <button type="button" id="apply-coupon" class="site-btn">Apply</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-2">
                    <div class="cart__total__procced">
                        <h6>Cart total</h6>
                        <ul>
                           <li>Subtotal <span id="cart-total">$<%= calculate_cart_total(current_user.cart) %></span></li>
                           <li>Total <span id="cart-discounted-total">$ </span></li>
                        </ul>
                     <a href="#" id="proceed-to-checkout-link" class="primary-btn">Proceed to checkout</a>

                    </div>
                </div>
            </div>
        </div>
    </section>
<script>
  $(document).ready(function() {
    var csrfToken = $('meta[name=csrf-token]').attr('content');
    $.ajaxSetup({
      headers: {
        'X-CSRF-Token': csrfToken
      }
    });

    $('.icon_close').on('click', function() {
      var cartItemId = $(this).data('cart-item-id');

      $.ajax({
        type: 'DELETE',
        url: '/cart_items/' + cartItemId,
        success: function(response) {
          updateCartTotal(response.cart_total);
        },
        error: function(error) {
          // Handle error if needed
        }
      });
    });
$('#apply-coupon').on('click', function() {
  var couponCode = $('#coupon-code').val();
  
  $.ajax({
    type: 'GET',
    url: '/apply_coupon?coupon_code=' + couponCode,
    dataType: 'json',
    success: function(response) {
      console.log(response); // Log the entire response for debugging

      if (response.success && response.total && 'discount_percentage' in response.total) {
        var subtotalElement = $('#cart-total');
        var subtotal = parseFloat(subtotalElement.text().replace('$', ''));
        var discountPercentage = parseFloat(response.total.discount_percentage);

        
        if (!isNaN(subtotal) && !isNaN(discountPercentage)) {
          var discountedTotal = calculateDiscountedTotal(subtotal, discountPercentage);

          updateCartTotal(subtotal, discountedTotal);
          sessionStorage.setItem('cartDiscountedTotal', discountedTotal.toFixed(2));

        } else {
          console.error('Invalid numeric values in the server response.');
        }
      } else {
        console.error('Invalid or missing values in the server response.');
        // Optionally, you can display an alert or handle the error as needed.
      }
    },
    error: function(xhr, status, error) {
      console.error('Ajax Error: ' + error);
      // Optionally, you can display an alert or handle the error as needed.
    }
  });
});
$('#proceed-to-checkout-link').on('click', function(event) {
  event.preventDefault(); 
  var discountedTotalValue = sessionStorage.getItem('cartDiscountedTotal');
  console.log('Discounted Total Value:', discountedTotalValue);
window.location.href = '<%= checkout_index_path %>';
});

function updateCartTotal(subtotal, discountedTotal) {
  $('#cart-total').text('$' + subtotal.toFixed(2));
  $('#cart-discounted-total').text('$' + discountedTotal.toFixed(2));
}

function calculateDiscountedTotal(subtotal, discountPercentage) {
  if (discountPercentage >= 100) {
    return 0; 
  }
  var discount = (discountPercentage / 100) * subtotal;
  return subtotal - discount;
}
  });
</script>
