<%= form_with model: @address, local: true do |form| %>
  <div class="field">
    <%= form.label :house %>
    <%= form.text_field :house %>
  </div>

  <div class="field">
    <%= form.label :area %>
    <%= form.text_field :area %>
  </div>

  <div class="field">
    <%= form.label :place %>
    <%= form.text_field :place %>
  </div>

  <div class="field">
    <%= form.label :pincode %>
    <%= form.text_field :pincode %>
  </div>

  <div class="field">
    <%= form.label :address_type %>
    <div class="styled-select">
      <%= form.select :address_type, options_for_select(['Home', 'Office', 'Other']) %>
    </div>
  </div>

  <div class="field">
    <%= form.label :city_id %>
    <%= form.collection_select :city_id, City.all, :id, :cityname %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>
