<!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li><a href="#"><span class="icon_heart_alt"></span>
                <div class="tip">2</div>
            </a></li>
            <li><a href="#"><span class="icon_bag_alt"></span>
                <div class="tip">2</div>
            </a></li>
        </ul>
        <div class="offcanvas__logo">
            <a href="<%= link_to '', root_path %>"><img src="img/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
             <% if user_signed_in? %>
    <a href="<%= edit_user_registration_path %>">Profile</a>
    <form action="<%= destroy_user_session_path %>" method="post" id="logout-form">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <a href="#" onclick="document.getElementById('logout-form').submit();">Logout</a>
    </form>
  <% else %>
    <a href="<%= new_user_session_path %>">Login</a> 
    <a href="<%= new_user_registration_path %>">Register</a>
  <% end %>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="./index.html">Home</a></li>
                                <li><a href="/product_list/womens">Women’s</a></li>
                                <li><a href="/product_list/mens">Men’s</a></li>

                            <li><a href="<%= product_list_path %>">Shop</a></li>
                            
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                        <div class="header__right__auth">
                             <% if user_signed_in? %>
                                <a href="<%= edit_user_registration_path %>">Edit profile</a>
                                <form action="<%= destroy_user_session_path %>" method="post" id="logout-form">
                                <input type="hidden" name="_method" value="delete">
                                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                                <a href="#" onclick="document.getElementById('logout-form').submit();">Logout</a>
                                </form>
                            <% else %>
                                <a href="<%= new_user_session_path %>">Login</a>
                                <a href="<%= new_user_registration_path %>">Register</a>
                            <% end %>
                        </div>
                        <ul class="header__right__widget">
                            <% if current_user %>
                                <li>
                                    <span class="icon_search search-switch"></span>
                                </li>
                                <li>
                                    <a href="<%= wishlists_path %>">
                                    <span class="icon_heart_alt"></span>
                                    <div class="tip wishlist-count"><%= current_user.wishlists.count %></div>
                                    </a>
                                </li>
                                <% else %>
                                <li>
                                    <a href="#">
                                    <span class="icon_heart_alt"></span>
                                    <div class="tip wishlist-count">0</div>
                                    </a>
                                </li>
                                <% end %>
                                <% if current_user && current_user.cart%>
                                <li>
                                    <%= link_to cart_item_path(current_user.cart), method: :get do %>
                                    <span class="icon_bag_alt"></span>
                                    <% if current_user.cart %>
                                        <div class="tip" id="cart-count"><%= current_user.cart.cart_items.count %></div>
                                    <% else %>
                                        <div class="tip">0</div>
                                    <% end %>
                                    <% end %>
                                </li>
                                <% end %>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
